/* 
	Global classes 
					*/
@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Dosis, sans-serif;
}

h2{
	font-family: Avenir, sans-serif;
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-size: bolder;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	
}


.head-bar {
  width: 300px;
  height: 45px;
  background-image: url("headbar.jpeg");

  color: white;
  text-shadow: 1px 1px black;
 text-align: center;
 font-family: Avenir, sans-serif;
	
}


.back-button {
	width: 50px;
	height: 28px;
	display: inline-block;
	margin-left: 10px;
	margin-top: -60px;
	float: left;
	text-align: center;
	text-shadow:none;
	padding-top: 2px;
}


div .article{
	overflow: auto;
	height: 390px;
	padding: 10px;
    line-height: 2;
}

.content{
	border: 2px solid rgb(230, 230, 230);
	padding: 10px;
	margin: 1px auto 10px auto;
	border-radius: 5px;
}

.photo{
    width: 40px;
    height: 40px;
	border-radius:30px;

}

.username{
	font-family: Dosis;
	color: black;
	vertical-align: top;
    text-decoration: none!important;
    background-image: none!important;
    margin-left: 8px;
}

.user{
/*	border: 2px solid rgb(230, 230, 230);*/
	padding: 8px;
/*	border-radius: 5px;*/
}

/*.comment .share {
	width: 100%;
}*/


.comment {
	position: relative;
	background: rgba(255, 125, 0, 0.35);
	
	width: 134px;
	height: 50px;
	margin: 15px 0 5px 12px; 
}

.share {
	position: relative;
	background: #ff6666;
	width: 134px;
	height: 50px;
	margin: 15px 3px 5px 0; 
}

#date{
	
	color: rgb(230, 230, 230);
	white-space: pre-wrap;
	font-style: italic;
}

button.form-btn {

  width:70%; 
height: 50px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;

  margin-left: 45px;
}

button.form-btn.sx {
  left: 0;
  border-radius: 5px;
  background-color: #11111161;
  color: #fff;
  transition:all 0.3s linear;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.form-btn.sx:hover {
  background-color:black;
  color: #fff;
}

button.form-btn.sx.back {
  background-color: #ff6666;
  transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

