@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

body {
  background-image: url("iphoneOL.jpg");
  background-repeat: no-repeat;
  
}


#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
  position: relative;
}




.head-bar {
  width: 300px;
  height: 45px;
  background-image: url("headbar.jpeg");
  margin-left: 8px;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  font-family: Avenir, sans-serif;
}

.container{
  width: 300px;
  height: 450px;
  display: block;
  overflow: auto;

}

.container::-webkit-scrollbar { 
    display: none; 
}


.header{
  font-size: 16pt;
  padding-left: 100px;
  padding-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
  
}


.back-button {
  width: 50px;
  height: 28px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -60px;
  float: left;
  text-align: center;
  text-shadow:none;
  padding-top: 2px;
}
.back-button a{
  text-decoration: none;
  color: white;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-left {
  top: 10px;
  left: -24px;
  border-right-color: #888;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}


.dialogbox .body {
  position: relative;
  max-width: 200px;
  height: auto;
  margin: 20px 10px 0px 70px;
  padding: 5px;
  background-color: #1111110d;
  border-radius: 3px;
  border: 4px solid #888;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: 'Dosis';
  font-size: 16px;
  line-height: 1.5;
  color: #797979;
}

.dialogbox img {
    float: left;
    max-width: 40px;
    width: 50%;
    margin-left: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}
.sendTerm {
  float: left;
  width: 250px;
  border: 3px solid rgb(182, 113, 154);
  padding: 5px;
  height: 36px;
  outline: none;
  color: black;
  
  position: absolute;
  top: 495px;
}

.sendButton {
  width: 50px;
  height: 36px;
  border: 1px solid rgb(182, 113, 154);
  background: rgb(152, 114, 151);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  margin-left: 250px;
  position: absolute;
  top: 495px;
}

#newpost{
  display: block;
}

.time{
  margin: 0;
  font-size: 10px;
  font-family: Avenir, sans-serif;
  text-align: right;
}
.comment{
  margin-left:8px;
}
