@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

body {
  background-image: url("iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Avenir, sans-serif;
}


#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
}


.head-bar {
  width: 300px;
  height: 45px;
  background-image: url("headbar.jpeg");

  color: white;
  text-shadow: 1px 1px black;
  font-family: Avenir, sans-serif;

}

h1{
  margin-left: 80px;
}

.header{
  font-size: 16pt;
  padding-left: 100px;
  padding-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.back-button {
  width: 50px;
  height: 28px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -60px;
  float: left;
  text-align: center;
  text-shadow:none;
  padding-top: 2px;

}

.back-button a{
  text-decoration: none;
  color: white;
}

.container {
  margin:0px 0px 0px 10px;
  width:80%;
  height: 500px;
  padding:10px 20px 30px;
  font-family: 'Dosis';
  font-weight:700;
}

.form-control {
  position:relative;
  margin-top:10px;
  width:170px;
  float: left;
}

.unit{

  padding-top:20px;
  color:black;
}



.reminder {
  margin-top: 50px;
  font-size: 16px;
  color: grey;
  width: 220px;
}

.typein {
  border:none;
  border-bottom:1px solid #888;
margin-top: 10px;
  width:220px;
  display:block;
  font-size:16px;
  font-family: 'Dosis';
  color: #888;
  text-align: center;
  margin-bottom:0px;
}



label {
  position:absolute;
  top:8px;
  left:5px;
  color:#888;
  transistion: 0.3s ease all;
  -webkit-transition:0.3s ease all;
}

.bar {
  position:relative;
  width: 180px;
  display:inline-block;
}



.typein:focus ~ .bar:before, .typein:focus ~ .bar:after {
  width:50%;
}

.typein:valid ~ .bar:before, .typein:valid ~ .bar:after{
  background:black;  
}

.typein:invalid ~ .bar:before, .typein:invalid ~ .bar:after{
  background:black;  
}



.typein::-webkit-inner-spin-button,
.typein::-webkit-clear-button {
  display: none;
}


/*.date {
  position: relative;
  width: 150px;
  overflow: auto;
  margin-top: 30px;
  background: #000;
  color: #ff6666;
}*/

.typein,
.button{
  outline: none !important; 
}


::-webkit-input-placeholder {
   color: #888;
  font-family: 'Roboto';
  font-weight:100;
}

:-moz-placeholder {
   color: #888;  
  font-family: 'Roboto';
  font-weight:100;
}

::-moz-placeholder {
   color: #888;  
  font-family: 'Roboto';
  font-weight:100;
}

:-ms-input-placeholder {  
   color: #888; 
  font-family: 'Roboto';
  font-weight:100;
}

.signIn input,
.signUp .w100 {
  width: 80%;
}

.signUp {
  position: relative;
  
  width: 300px;
  height: 485px;
  margin: 0px 0px 0px 8px; 
}
.signIn {
  position: relative;
  
  width: 300px;
  height: 485px;
  margin: 0px 0px 0px 8px; 
}
.account{
  margin-top: 0px;
  margin-bottom: 20px;
}

.active-sx{
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-sx{
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes overshadowing-sx {
  0%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100%{
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}


@keyframes foregrounding-sx {
  0%{
    z-index:1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50%{
    z-index:2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.form-btn a {
  text-decoration: none;
  color:white;
  font-size: 23px;
} 
.signIn input,
.signUp {
  width: 85%;
}

.signUp {
  position: relative;
  
  width: 300px;
  height: 300px;
  margin: 0px 0px 0px 8px; 
}

.form-btn {

  width:70%; 
height: 50px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;


}

.form-btn.sx {
  left: 0;
  border-radius: 5px;
  background-color: #11111161;
  color: #fff;
  transition:all 0.3s linear;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.form-btn.sx:hover {
  background-color:black;
  color: #fff;
}

.form-btn.sx.back {
  background-color: #ff6666;
  transition:all 0.3s linear;
}
.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.unit2{
  margin-left: 0px;
  /*padding-top:65px;*/
  color:black;
  display: inline-block;
  font-weight: bolder;
}



.amount{
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  width: 300px;
  height: 80px;
}

  .custom-select {
    position: relative;
    display: inline-block; 
    margin-left: 5px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    color: #888;
    background-color: white;
  }
  .unit3{
  margin-left: 20px;
  /*padding-top:65px;*/
  color:black;
  display: inline-block;
  font-weight: bolder;
}

.

.des{
  color: grey;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.left{
  float: left;
  background-color: white;
  display: inline-block;
  height: 35px;
  width: 220px;
  border:1px solid white;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(182, 113, 154);
  font-size: 16px;
}


 .help{
  margin-top: 30px;
  height: 160px;

  margin-bottom: 0px;
  width: 240px;
 }
.name {
  width:220px;
  height:35px;
  font-size: 120%;
  font-family: 'Dosis';
  font-size: solid black;
  font-weight: bold;
  text-align: left;
}

#overlay {
    position: fixed;
    display: none;
  
    top: 105;
    left: 31;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  width: 300px;
  height: 530px;
}

#text{
  background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

p{
  margin:0 0 0 0;
  color: grey;
  font-size:14px;
  font-family: Avenir, sans-serif;
  font-weight: normal;
}

.scroll{
  height: 390px;
  width:240px;
  overflow: auto;
}