@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
* {
	margin: 0;
	padding: 0;
}


body {
	background-image: url("iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.back-button {
	width: 50px;
	height: 28px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 6px;
	border: 1px solid rgb(255,255,255);
	border-radius: 5px;
	float: left;
    text-align: center; 
	text-shadow:none;
	padding-top: 2px;
	border-color: orange;

}

.back-button a {
		text-decoration: none;
		color: white;
		text-align: center;
}

.head-bar {
	width: 300px;
	height: 45px;
	background-color: #ff6666;
	color: white;
	text-shadow: 1px 1px black;
	margin-left: 8px; 

}

h1{
	margin-left: 100px;
}

.container{
	position: ;
	width: auto;
	height:auto;
	top: calc(50% - 240px);
	left: calc(50% - 160px);
}

form {
	position: relative;
	text-align: center;
	background: #fff;
	width: 300px;
	height: 490px;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	/*box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);*/
	box-sizing: border-box;
}



h3 {
	font-family: 'Dosis';
	font-size: 35px;
	text-transform: uppercase;
	color: #87613d;
	margin-bottom: 30px;
}

input,
button{
	outline: none !important; 
}

button.fb {
	border: none;
	background: #3b5998;
	width: 160px;
	height: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #29487d;
	cursor: pointer;
	margin-bottom: 20px;
	transition:all 0.3s linear;
}
button.fb:hover {
	background: #fff;
	color: #3b5998;
}

button.form-btn {

	width: 150px;
	height: 60px;
	bottom: 0;
	border: 0;
	font-family: 'Dosis';
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
}


button.form-btn.dx {
	right: 0;
	border-radius: 0 0 5px 0;
	background-color: #ff6666;
	color: #fff;
}

input {
	border: none;
	border-bottom: 1px solid #ffc185;
	width: 85%;
	font-family: 'Roboto';
	color: #ff7d00;
	text-align: center;
	font-size: 21px;
	font-weight:100;
	margin-bottom:25px;
}

::-webkit-input-placeholder {
   color: #ffc185;
	font-family: 'Roboto';
	font-weight:100;
}

:-moz-placeholder {
   color: #ffc185;  
	font-family: 'Roboto';
	font-weight:100;
}

::-moz-placeholder {
   color: #ffc185;  
	font-family: 'Roboto';
	font-weight:100;
}

:-ms-input-placeholder {  
   color: #ffc185; 
	font-family: 'Roboto';
	font-weight:100;
}

.signIn input,
.signUp .w100 {
	width: 100%;
}


.signUp {
	position: relative;
	
	width: 300px;
	height: 485px;
	margin: 0px 0px 0px 8px; 
}

.gender {
  position: relative;
  width: 150px;
  overflow: auto;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffc185;
  font-size: 21px;
}

.active-dx{
	animation-name: foregrounding-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}


.inactive-dx{
	animation-name: overshadowing-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}


@keyframes overshadowing-dx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}


@keyframes foregrounding-dx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

.form-btn a {
  text-decoration: none;
  color:white;
  font-size: 23px;
} 
