@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=Eczar|Roboto:300,400';
/*body {
    font-family: sans-serif;
    background-color: #eeeeee;
  }*/


body {
  background-image: url("images/iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Dosis, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: bolder;
}

#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
  
}
.head-bar {
  width: 300px;
  height: 45px;
  background-image: url("headbar.jpeg");

  color: white;
  text-shadow: 1px 1px black;
  font-family: Avenir;

}

h1{
  margin-left: 110px;
}


.back-button {
  width: 50px;
  height: 28px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 6px;
 /* border: 1px solid rgb(255,255,255);*/
  border-radius: 5px;
  float: left;
  text-align: center;
  text-shadow:none;
  padding-top: 2px;
  border-color: orange;

}

.back-button a {
    text-decoration: none;
    color: white;
}


#text{
    width: 85%;
    height: 150px;
    padding: 12px 20px;
    margin: 5px 10px 0 22px;
    box-sizing: border-box;
    text-align: left;
}
#text1{
    width: 85%;
    height: 30px;
    padding: 12px 20px;
    margin: 10px 10px 0 22px;
    box-sizing: border-box;
    text-align: left;
}

#img_input2 {
  display: none;
}
#img_label2 {
  background-color: rgba(255, 125, 0, 0.35);
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin:10px 15px 5px 30px;
}
#preview_box2 img {
  width: 40px;
}

.photo{
  margin-left: 200;
}

.photo1{

  position: relative;
  width: 90px;
}

.submit{
  width: 140px;
  height: 50px;
/*  bottom: 0;
  border: 0;*/
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  background-color: #ff6666;
  color: #fff;
  margin-left: 27%;
  margin-top: 25px;

}

#submit{
	width: 55px;
	height: 50px;
}

.image1{
  width: 50px;
  height: 50px;
  margin:0 0 10px 30px;
  position: left;
}

.image2{
  width: 50px;
  height: 50px;
  margin:0 0 10px 10px;
  position: left;
}

button.fb {
  border: none;
  background: #3b5998;
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #29487d;
  cursor: pointer;
  margin-bottom: 20px;
  transition:all 0.3s linear;
}
button.fb:hover {
  background: #fff;
  color: #3b5998;
}

button.form-btn {

  width: 150px;
  height: 60px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

button.form-btn.sx {
  left: 0;
  border-radius: 5px;
  background-color: #888;
  color: #fff;
  transition:all 0.3s linear;
  margin-top: 0;
}

button.form-btn.sx:hover {
  background-color:black;
  color: #fff;
}

button.form-btn.sx.back {
  background-color: #ff6666;
  transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}


input {
  border: none;
  border-bottom: 1px solid #888;
  width: 85%;
  font-family: 'Roboto';
  color: #888;
  text-align: center;
  font-size: 21px;
  font-weight:100;
  margin-bottom:40px;
}

::-webkit-input-placeholder {
   color: #888;
  font-family: 'Roboto';
  font-weight:100;
}

:-moz-placeholder {
   color: #888;  
  font-family: 'Roboto';
  font-weight:100;
}

::-moz-placeholder {
   color: #888;  
  font-family: 'Roboto';
  font-weight:100;
}

:-ms-input-placeholder {  
   color: #888; 
  font-family: 'Roboto';
  font-weight:100;
}

.signIn input,
.signUp .w100 {
  width: 85%;
}

.signUp {
  position: relative;
  
  width: 300px;
  height: 485px;
  margin: 0px 0px 0px 8px; 
}
.signIn {
  position: relative;
  
  width: 300px;
  height: 485px;
  margin: 0px 0px 0px 8px; 
}
.account{
  margin-top: 0px;
  margin-bottom: 20px;
}





  .file-upload {
    background-color: #ffffff;
/*    width: 100px;*/
/*    margin-left: 25%;
    margin-right: 20%;*/
    margin: -10px 10% 0 170px;
    padding: 20px;
  }

  .file-upload-btn{
/*    width: 100%;*/
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6666;
    border: 2px solid #ff6666;
    width: 120px;
  }
  .file-upload-input{
    display: none;
  }

  .image-upload-wrap {
/*    margin-top: 20px;*/
margin: 0 150px 0 -65px;
/*    border: 2px solid #15824B;*/
  }
  .image-title-wrap {
    width: 60px;
/*    padding: 15px;*/
/*    background-color: #15824B;*/
    color: #ffffff; 
  }

  .file-upload-image{
    display: block;
    max-height: 60px;
    width: auto;
    margin: auto;
/*    padding: 20px;*/
  }

  .remove-image {
/*    float: right;*/
    background-color: transparent;
    border: 1px solid #ffffff;
/*    color: #ffffff;*/
    font-weight: 700;
/*    position: relative;*/
    margin-left: 10px;
  }


.active-sx{
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-sx{
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes overshadowing-sx {
  0%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100%{
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}


@keyframes foregrounding-sx {
  0%{
    z-index:1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50%{
    z-index:2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.form-btn a {
  text-decoration: none;
  color:white;
  font-size: 23px;
} 


/*.content{
  overflow:auto;
}*/