@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

body {
  background-image: url("images/iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Avenir, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: bolder;
}

#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;

}
.head-bar {
  width: 300px;
  height: 45px;
  background-image: url("headbar.jpeg");

  color: white;
  text-shadow: 1px 1px black;
 text-align: center;
  font-family: Avenir, sans-serif;
}

.back-button {
  width: 50px;
  height: 28px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -60px;
  float: left;
  text-align: center;
  text-shadow:none;
  padding-top: 2px;
}
.back-button a{
  text-decoration: none;
  color: white;
}

.search {
  width: 200px;
  position: relative;
  margin-top: 30px;
}


.searchTerm:focus{
  color: rgb(182, 113, 154);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(182, 113, 154);
  background: rgb(152, 114, 151);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchTerm {
  float: left;
  width: 200px;
  border: 2px solid rgb(182, 113, 154);
  padding: 5px;
  height: 36px;
  outline: none;
  color: #9DBFAF;
 
   border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: 15px;

  transform: translate(-50%, -50%);
}

.article-list { 
  margin-left: 15px; 
  width: 300px; 
}

li { 

  display: inline-block; 
  zoom: 1; 
  width: 298px; 
  vertical-align: top; 
  background: white; 
  border: 1px solid #aaa; 
  
}

h3{
  padding-left: 10px;
  font-family: Avenir, sans-serif;
  font-weight: bolder;
}

p{
  padding-left: 20px;
}
.page{
  height:420px;
  overflow: auto;
  font-family: Dosis;
}
.more{
  color: rgb(182, 113, 154);
  font-weight: bold;
  text-decoration: underline;
}
  
