@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
* {
  margin: 0;
  padding: 0;
}


body {
  background-image: url("iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Avenir, sans-serif;
}


#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
}


.head-bar {
  width: 300px;
  height: 45px;
  background-image: url("headbar.jpeg");

  color: white;
  text-shadow: 1px 1px black;
  margin-left: 8px; 

}

h1{
  margin-left: 110px;
}


.back-button {
  width: 50px;
  height: 28px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 6px;
 /* border: 1px solid rgb(255,255,255);*/
  border-radius: 5px;
  float: left;
  text-align: center;
  text-shadow:none;
  padding-top: 2px;
  border-color: orange;

}

.back-button a {
    text-decoration: none;
    color: white;
}

.container{
  position: ;
  width: auto;
  height:auto;
  top: calc(50% - 240px);
  left: calc(50% - 160px);
}

form {
  position: relative;
  text-align: center;
  background: #fff;
  width: 300px;
  height: 490px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  /*box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);*/
  box-sizing: border-box;
}


h3 {
  font-family: 'Dosis';
  font-size: 35px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 30px;
  margin: 45px auto 45px auto;
}

input,
button{
  outline: none !important; 
}

button.fb {
  border: none;
  background: #3b5998;
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #29487d;
  cursor: pointer;
  margin-bottom: 20px;
  transition:all 0.3s linear;
}
button.fb:hover {
  background: #fff;
  color: #3b5998;
}

button.form-btn {

  width: 150px;
  height: 60px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

button.form-btn.sx {
  left: 0;
  border-radius: 5px;
  background-color: #888;
  color: #fff;
  transition:all 0.3s linear;
  margin-top: 10px;
}

button.form-btn.sx:hover {
  background-color:black;
  color: #fff;
}

button.form-btn.sx.back {
  background-color: #ff6666;
  transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
  background-color: rgba(0, 0, 0, 0.35);
}


input {
  border: none;
  border-bottom: 1px solid #888;
  width: 85%;
  font-family: 'Roboto';
  color: #888;
  text-align: center;
  font-size: 21px;
  font-weight:100;
  margin-bottom:40px;
}

::-webkit-input-placeholder {
   color: #888;
  font-family: 'Roboto';
  font-weight:100;
}

:-moz-placeholder {
   color: #888;  
  font-family: 'Roboto';
  font-weight:100;
}

::-moz-placeholder {
   color: #888;  
  font-family: 'Roboto';
  font-weight:100;
}

:-ms-input-placeholder {  
   color: #888; 
  font-family: 'Roboto';
  font-weight:100;
}

.signIn input,
.signUp .w100 {
  width: 85%;
}

.signUp {
  position: relative;
  
  width: 300px;
  height: 485px;
  margin: 0px 0px 0px 8px; 
}
.signIn {
  position: relative;
  
  width: 300px;
  height: 485px;
  margin: 0px 0px 0px 8px; 
}
.account{
  margin-top: 0px;
  margin-bottom: 20px;
}

.active-sx{
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-sx{
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes overshadowing-sx {
  0%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100%{
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}


@keyframes foregrounding-sx {
  0%{
    z-index:1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50%{
    z-index:2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100%{
    z-index:2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.form-btn a {
  text-decoration: none;
  color:white;
  font-size: 23px;
} 

  .custom-select {
    position: relative;
    display: inline-block; 
    margin-left: 5px;
   
    width: 80px;
    height: 30px;
    color: #888;
    background-color: white;
  }

#forget{
  color: #888;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 20px;
}
